
.showcase {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.avatar {
    height: 200px;
    width: 200px;
    display: block;
}

#bio {
    text-align: center;
}

#contact {
    display: inline-flex;
    justify-content: center;
    flex-direction: row;
    list-style: None;
}

#contact_container {
    display: block;
    justify-content: center;
    text-align: center;
    margin-top: 2rem;
}

.bio-text p {
    font-size: 1.2rem;
}


/* Underline From Left */
a {
    color:#ac4142;
    display: inline-block;
    vertical-align: bottom;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    text-decoration: none;
}
a:hover {
    color:#ac4142;
    text-decoration: None;
}
a:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ac4142;
    height: 3px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
a:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
    right: 0;
}


.contact_icon {
    font-size: 2rem;
    color: #ac4142;
}

.btn-clicked {
    background-color: #ac4142;
    border-color: #ac4142;
    color: white;
  }

#newslist > ul > li {
    list-style-type: none;
  }

li {
    margin-bottom: 10px;
}

li.nav-item {
    margin-bottom: 0px;
}